#flickrResult {
  margin: 10px;
}

.col-md-6 {
  height: 100%;
}

#photoResult {
  width: 95%;
  height: 90%;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 0px;
  border: 2px solid black;
}
