

.flickr_row .col-md-6 {
  height: 100vh;
}

#flickrResult {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#photoResult {
  height: 70%;
  overflow: hidden;
}

#search-result-name {
  font-size: 34px;
}

#locationText {
  height: 30%;
  padding-left: 20px;
  border: 3px solid red;
}

.bucketContent {
  padding: 50px;
}
