.flickr_row .col-md-6 {
  height: 96vh;
}

#flickrResult {
  height: 100%;
  overflow: hidden;
  width: 100%;
  // padding-top: 30px;
}

#photoResult {
  height: 75%;
  overflow: hidden;
}

#search-result-name {
  font-size: 25px;
}

#locationText {
  height: 25%;
  padding-left: 20px;
  text-align: center;
}

#add-button,
#remove-button {
  font-family: helvetica, serif;
  font-size: 16px;
  color: #000;
  margin-top: 20px;
}

#add-button:hover {
  color: rgb(134, 136, 135);
}

#remove-button:hover {
  color: rgb(134, 136, 135);
}

#remove-button .fa-map-pin {
  color: #FF0000;
}

#add-button .fa-map-pin {
  color: #0952cf;
}

.fa-map-pin {
  margin-right: 15px;
  font-size: 30px;
}

.flickrContainer {
  padding: 50px 50px 0 50px;
}

#locationText {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: left;
}

#left-area {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid purple;
  height: 40px;
}

#left-area a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  align-self: flex-start;
  text-decoration: none;
}

#left-area span {
  font-size: 16px;
}

#locationText a {
  border: 1px solid red;
  align-self: center;
  width: 100%;
  margin: 0;
  padding: 20;
  align-items: flex-start;
}

#locationText label {
  font-weight: normal;
  font-color: rgb(69, 71, 71);
  align-items: flex-start;
}

#info-button {
  color: #000;
  font-size: 3em;
}

#info-button:hover {
  color: rgb(134, 136, 135);
}

#holds-search-name {
  border-left: 1px solid rgba(41, 42, 40, 0.5);
  height: 60%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
}

#locationText h3 {
  vertical-align: middle;
  padding-left: 20px;
}

.fa-map-pin, .glyphicon-info-sign {
  padding-right: 20px;
  align-items: flex-start;
  border: 1px solid green;
  font-size: 30px;
}

.glyphicon-info-sign {
  margin-top: 15px;
  height: 30px;
}

#info-button label {
  margin-top: 15px;
}
