#location-list {
  background-color: $list-background;
  width: 100%;
}

.view {
  background: #fff;
  height: 200px;
  margin-bottom: 30px;
  // float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.view .mask, .view .content {
  height: 200px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.mask {
    position: relative;
    overflow: hidden;
}


.view img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0
}

.view a {
  display: inline-block;
  text-decoration: none;
  margin: 0px 14px;
  padding: 3px 8px;
  font-size: 2em;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  border: 3px solid #fff;
  border-radius: 100%;
}

.view div.icons {
  position: absolute;
  top: 100px;
  left: 45px;
}

.view a.delete:hover {
  color: rgb(191, 29, 77);
  border-color: rgb(191, 29, 77);
}

.view a.visited-true {
  color: rgb(47, 213, 108);
  border-color: rgb(47, 213, 108)
}

.view a.visited-false {
  color: rgb(191, 29, 77);
  border-color: rgb(191, 29, 77);
}

.view-first img {
  transition: all 0.2s linear;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(42, 207, 192, 0.6);
  transition: all 0.4s ease-in-out;
}

.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.view-first a.info{
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}

.view-first:hover p {
  transition-delay: 0.1s;
}

.view-first:hover a.info {
  // transition-delay: 0.2s;
}
