$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
@import 'typography';
@import 'map';
@import 'cover';
@import 'flickr';
@import 'handlebars';
@import 'modals';
@import 'ribbon';

html,
body {
  width: 100%;
  height: 100%;
  // overflow-x: hidden;
}

body {
  background-image: url('/../assets/images/grey.png');
  background-repeat: repeat;
}

#footer-icon {
    font-size: 8em;
    display:flex;
    justify-content: center;
}

#footer-icon :hover {
    color: #808080;
}

#footer-copyright {
  font-size: 1em;
  display:flex;
  justify-content: center;
}

body.container-fluid {
  margin: 0 auto;
  padding: 0;
}

.inner {
  height: 100%;
  overflow: hidden;
  width: 100%;
  // padding-top: 30px;
}

.inner img {
  width: 70%;
  overflow: hidden;
}

#infoContainer {
  height: 90%;
  background-color: $tan;
  overflow: hidden;
}

#infoContainer img {
  width: 100%;
  margin-bottom: 0;
}

#location-list {
  padding: 50px;
}

#slogan{
  width: 100%;
  text-align: center;
  margin-top: -80px;
}

#locationContainer {
  width: 100%;
}

.wanderTitle {
  width: 100%;
  text-align: center;
  font-size: 400%;
}

#directions {
  margin-top: 30px;
  color: $light-black;
}

.arrow {
  margin-top: -50px;
  line-height: 40px;
  -webkit-animation: bounce 2s infinite ease-in-out;
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateX(0); }
    40%  { -webkit-transform: translateX(-20px); }
	80% { -webkit-transform: translateX(-10px); }
}

html, body {
  overflow-y: hidden;
  overflow-x: hidden;
}
