$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
@import 'typography';
@import 'map';
@import 'cover';
@import 'flickr';
@import 'handlebars';
@import 'modals';
@import 'ribbon';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url('/../assets/images/grey.png');
  background-repeat: repeat;
}

body.container-fluid {
  margin: 0 auto;
  padding: 0;
}

.inner {
  height: 100%;
  overflow: hidden;
  width: 100%;
  // padding-top: 30px;
}

.inner img {
  width: 70%;
  overflow: hidden;
}

#location-list {
  margin-top: 20px;
}

html, body {
  overflow-y: hidden;
}
