#map {
  height: 80%;
  width: 100%;
  background-color: $map-background;
}

.controls {
     margin-top: 10px;
     width: 300px;
     padding: 10px;
     border: 1px solid transparent;
     border-radius: 2px 0 0 2px;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     height: 32px;
     outline: none;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
   }
