.modal-backdrop {
   background-image: url(https://i.ytimg.com/vi/4AA4qYGunr4/maxresdefault.jpg);
}

.register-opp {
  display: block;
  text-align: left;
  margin-left: 20px
}

.modal .btn {
  float: right;
}

#info-button {
  position: relative;
  display: block;
  right: 20px;
  top: -38px;
  color: #000;
  font-size: 1.8em;

}

#info-button:hover {
  color: rgb(134, 136, 135);
}

#wiki-content {
  max-height: 500px;
  overflow-y: scroll;
}

#sign-out-form {
  height: 30px;
}

#change-pw {
  height: 130px;
}
