.modal-backdrop {
   background-image: url(https://i.ytimg.com/vi/4AA4qYGunr4/maxresdefault.jpg);
}

.modal-content {
  background-color: $modal-content;
}

.modal-header {
  color: $modal-header;
}

.register-opp {
  display: block;
  text-align: center;
}

.modal .btn {
  float: right;
}
