.ribbon {
  background-color: #832fc4;
  /* top left corner */
  position: absolute;
  top: 100px;
}

.ribbon a {
  color: #fff;
  display: block;
  font: 90% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
}
